.classId{
    text-indent: 40px;
    text-align: justify;
}
h1{
    border: #d4d4d4;
    /*border-bottom-style: solid;*/
}
body{
    line-height: 1;
    font-family: "Times New Roman";
}
p{
    color: #FF00FF;
}
